* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 1600px;
    height: 5400px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Banner {
    position: absolute;
    width: 1600px;
    height: 1052px;
    margin-top: 0px;
    background-image: url("./images/Shape\ 9.png");
}

.Layer {
    position: absolute;
    width: 1191px;
    height: 994px;
    margin-top: 56px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: multiply;
    background-image: url("./images/Layer\ 12.png");
    background-repeat: no-repeat;
}

.Logo {
    position: absolute;
    width: 194px;
    height: 141px;
    margin-left: 176px;
    margin-top: 80px;
}

.BS {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
}

.Nav {
    position: absolute;
    width: 374px;
    height: 68px;
    margin-left: 1097px;
    margin-top: 78px;
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: -1.3px 4.8px 23.8px rgba(189, 227, 239, 0.75);
}

.Search {
    position: absolute;
    width: 99px;
    height: 26px;
    margin-left: 5px;
    margin-top: 0px;
}

input {
    position: absolute;
    width: 88px;
    height: 26px;
    margin-left: 74px;
    margin-top: 21px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 144% */
    display: flex;
    align-items: center;
    color: #151515;
}

.vector {
    position: absolute;
    width: 25px;
    height: 26px;
    margin-left: 33px;
    margin-top: 21px;
    background-image: url('./images/Vector\ Smart\ Object.png');
}

.Shape_11 {
    position: absolute;
    width: 4px;
    height: 39px;
    margin-left: 181px;
    margin-top: 15px;
    background: #E0E0E0;
    box-shadow: -1.3px 4.8px 23.8px rgba(189, 227, 239, 0.75);
}

.Collection {
    position: absolute;
    width: 122px;
    height: 15px;
    margin-left: 223px;
    margin-top: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 144% */
    display: flex;
    align-items: center;
    color: #151515;
}

.SumColl {
    position: absolute;
    width: 544px;
    height: 241px;
    margin-left: 1014px;
    margin-top: 326px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 115px;
    line-height: 120px;
    /* or 104% */
}

.Showcase {
    width: 1600px;
    height: 3388px;
    margin-top: 1010px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Trendy_Bags {
    position: absolute;
    width: 1410px;
    height: 1328px;
    background: rgba(255, 255, 255, 1);
    box-shadow: -1.3px 4.8px 47.5px rgba(239, 239, 240, 0.75);
}

.Arrivals {
    position: absolute;
    width: 415px;
    height: 26px;
    margin-left: 502px;
    margin-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 26px;
    /* identical to box height, or 52% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #333333;
}

.Bags {
    position: absolute;
    width: 1173px;
    height: 995px;
    margin-left: 118.5px;
    margin-top: 162px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.BagsArr {
    width: 354px;
    height: 454px;
    cursor: pointer;
}

.BagsArr:hover {
    background: #FFFFFF;
    box-shadow: -1.3px 4.8px 47.5px rgba(221, 223, 224, 0.75);
}

.AddBtn:hover {
    display: block;
}

.BagsArr:active .AddBtn {
    display: block;
}

.BagItem {
    width: 236px;
    height: 329px;
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BagImg {
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.BagName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.18px;
    color: #777777;
    margin-top: 0px;
}

.BagPrice {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    color: #333333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
}

.AddBtn {
    position: absolute;
    width: 205px;
    height: 63px;
    border-radius: 25px;
    margin-left: 75px;
    margin-top: 35px;
    background: linear-gradient(8.52deg, #8C84F9 5.54%, #A165F4 94.46%), #FCFCFC;
    box-shadow: -1.3px 4.8px 23.8px rgba(240, 239, 254, 0.75);
    display: none;
}

.Our_Brand {
    position: absolute;
    width: 1443px;
    height: 825px;
    margin-top: 1350px;
}

.Trendy_Collection {
    position: absolute;
    width: 1383px;
    height: 1321px;
    margin-left: 0px;
    margin-top: 2180px;
    background: rgba(255, 255, 255, 1);
    box-shadow: -1.3px 4.8px 47.5px rgba(239, 239, 240, 0.75);
}

.Show {
    width: 385px;
    height: 26px;
    margin-left: 501px;
    margin-top: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 26px;
    /* identical to box height, or 52% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #333333;
}

.TabList {
    position: absolute;
    width: 1108px;
    height: 69px;
    margin-left: 150px;
    margin-top: 96px;
    background: rgba(255, 255, 255, 0.0001);
    box-shadow: -1.3px 4.8px 47.5px rgba(239, 239, 240, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.TabButton {
    width: 113px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #B394FA;
    cursor: pointer;
}

.TabPannel {
    position: absolute;
    width: 1173px;
    height: 935px;
    margin-left: 110px;
    margin-top: 175px;
}

.Newsletter {
    width: 1600px;
    height: 495px;
    background: linear-gradient(17.15deg, #8C84F9 8.15%, #A165F4 91.85%), #FFFFFF;
}

.Footer {
    width: 1600px;
    height: 397px;
    background: blueviolet;
}

.WatchCard_1 {
    position: absolute;
    width: 1173px;
    height: 935px;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.WatchCard_2 {
    position: absolute;
    width: 1173px;
    height: 935px;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
}